.text-color-navy{
    color: var(--navy);
}

.fw-500{
    font-weight: 500;
}

.fw-700{
    font-weight: 700;
}

.border-btn{
    border-color: var(--navy);
    border-width: 0.15rem;
}

.box1{
    margin-top: -4rem;
}

.user-icon{
    width: 197px;
    height: 197px;
}

.box2{
    background-color: var(--cream);
}

.editUserIconCircle{
    margin-top: -3.5rem;
}

.editUserIconPen{
    margin-top: -2.2rem;
    margin-right: 0.75rem;
}