section {
    background-color: var(--white-cream);
    position: relative;
    padding: 4rem 0;
}

input {
    /* width: 100%;
    min-width: 400px; */
    background: white;
    padding: 0.8rem 1.4rem;
}

label {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.back-button {
    background-color: var(--cream);
    border: solid 2px var(--navy);
    border-radius: 1.5rem;
    text-decoration: none;
    color: var(--navy);
    padding: 0.5rem 1.5rem;
    transition: transform 0.2s ease-in-out;
    top: 3rem;
    left: 3rem;
    position: absolute;
    z-index: 1;
    font-size: 1.3rem;
    font-weight: 500;
}

.back-button:hover {
    transform: scale(1.1);
}

.sign-hint {
    font-size: 1.2rem;
    font-weight: 600;
}

.sign-button {
    color: var(--navy);
    padding: 0.5rem 1.8rem;
    background: var(--aqua);
    font-weight: 600;
    border-radius: 1.5rem;
    transition: transform 0.3s ease-in-out;
    font-size: 1.2rem;
}

.sign-button:hover {
    transform: scale(1.05);
    background: rgb(101, 245, 255);
}

.sign-button:active {
    transform: scale(1.3) !important;
    transition: transform 0.1s;
}