.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--white-cream);
    position: sticky;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    height: 78px !important;
}
.navbar .title{
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: none;
    color: #080853;
}
.navbar ul {
    display: flex;
    margin-top:-0.2rem;
}

.navbar ul li {
    list-style: none;
}
.navbar ul li a{
    display: block;
    text-decoration: none;
    color: #080853;
    padding:5px 15px 5px;
    margin: 1rem 0.5rem 0rem;
    border-radius: 50px;
    font-weight: bold;
    border: 2px var(--white-cream) solid;
}
.navbar ul li a:not(.active):hover {
    border: 2px #000958 solid;
}
li a.active {
    background-color: #080853;
    color: rgba(255, 250, 245, 255) !important;
}
