@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

:root {
    --light-blue: #90CCFC;
    --cream:#FFF4EA;
    --white-cream:#FFFAF5;
    --navy:#000958;
    --blue:#90CCFC;
    --red:#FF5A2D;
    --yellow:#FBBF3D;
    --aqua:#5AD6E3;
    --pink:#FFB4BB;
    --grey:#D9D9D9;
}