@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light-blue: #90CCFC;
    --cream: #FFF4EA;
    --white-cream: #FFFAF5;
    --navy: #000958;
    --blue: #90CCFC;
    --red: #FF5A2D;
    --light-red: #FF8D6E;
    --yellow: #FBBF3D;
    --aqua: #5AD6E3;
    --pink: #FFB4BB;
    --grey: #D9D9D9;
    --dark-grey: #a6a6a6;
    --lime: #a7db6e;
}

.swal2-popup {
    border-radius: 3rem !important;
}

.swal2-confirm {
    background-color: var(--lime) !important;
    outline: none !important;
    color: var(--navy) !important;
    border-radius: 50px !important;
    padding: 0.5rem 2.5rem !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
}

.swal2-confirm:focus {
    box-shadow: none !important;
}

.swal2-deny {
    background-color: var(--red) !important;
    outline: none !important;
    color: var(--navy) !important;
    border-radius: 50px !important;
    padding: 0.5rem 2.5rem !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
}

.swal2-deny:focus {
    box-shadow: none !important;
}

.swal2-actions {
    flex-direction: flex-row;
    gap: 50px !important;
}

.toggle {
    display: none;
}

.toggle, .toggle:after, .toggle:before, .toggle *, .toggle *:after, .toggle *:before, .toggle + .toggle-button {
    box-sizing: border-box;
}

.toggle::selection, .toggle:after::selection, .toggle:before::selection, .toggle *::selection, .toggle *:after::selection, .toggle *:before::selection, .toggle + .toggle-button::selection {
    background: none;
}

.toggle + .toggle-button {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.toggle + .toggle-button:after, .toggle + .toggle-button:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.toggle + .toggle-button:after {
    left: 0;
}

.toggle + .toggle-button:before {
    display: none;
}

.toggle:checked + .toggle-button:after {
    left: 50%;
}

.toggle-light + .toggle-button {
    background: var(--grey);
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
}

.toggle-light + .toggle-button:after {
    border-radius: 50%;
    background: var(--white-cream);
    transition: all 0.2s ease;
}

.toggle-light:checked + .toggle-button {
    background: var(--lime);
}

body > .loading {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5) 50% 50% no-repeat;
}

.loading-inside {
    position: relative;
}

.loader {
    top: -100px;
    left: -100px;
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.loader1 {
    animation: spin 4.3s linear infinite;
    border: 10px solid transparent;
    border-top: 10px solid var(--white-cream);
    border-bottom: 10px solid var(--red);
}

.loader2 {
    animation: spin 2s linear infinite;
    border: 10px solid transparent;
    border-top: 10px solid var(--yellow);
    opacity: 1;
}

.ReactModalPortal {
    z-index: 100;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

button.loading {
    filter: brightness(70%);
}

