.app{
    background-color: var(--cream);
}

.circle1{
    background-color: var(--blue);
}

.circle2{
    background-color: var(--red);
}

.circle3{
    background-color: var(--yellow);
}

.circle4{
    background-color: var(--aqua);
}

h1, h5{
    color: var(--navy);
}

.text{
    font-size: 40px;
    font-weight: 700;
}

.texts{
    font-size: 32px;
    font-weight: 700;
}

.details{
    font-size: 20px;
    font-weight: 500;
}